<div class="container">
    <div class="alert alert-secondary text-center">
        <h1>All Articles</h1>
    </div>
    <table class="table table-bordered">
        <thead class="bg-dark">
            <tr class="text-white text-center">
                <th>Title</th>
                <th>Description</th>
                <th>Status</th>
                <th>Comments Allowed</th>
                <th>Category</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {{#each articles}}
            <tr class="text-center">
                <td>{{title}}</td>
                <td>{{description}}</td>
                <td>{{status}}</td>
                <td>{{allowComments}}</td>
                <td>{{category.title}}</td>
                <td class="d-flex">
                    <a href="/admin/articles/edit/{{_id}}" class="btn btn-sm btn-warning mr-2">Edit</a>
                    <form action="/admin/articles/delete/{{id}}?newMethod=DELETE" method="post">
                      <button class="btn btn-sm btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>