<div class="container">
    <div class="alert alert-secondary text-center">
        <h1>All Articles</h1>
    </div>
    <table class="table table-bordered">
        <thead class="bg-dark">
            <tr class="text-white text-center">
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {{#each articles}}
            <tr class="text-center">
                <td>{{_id}}</td>
                <td>{{title}}</td>
                <td>{{description}}</td>
                <td>{{status}}</td>
                <td><a href="/admin/articles/edit/{{_id}}" class="btn btn-sm btn-warning">Edit Article</a></td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>